/* ============================================= */
/*              About                            */
/* ============================================= */

.featured-title {
    padding-bottom: 2rem;
    border-bottom: 2px solid black;
    width: 250px;
    margin: 4rem auto;
    text-align: center;
}