/* ============================================= */
/*              about                            */
/* ============================================= */

.about {
    margin: 2rem 2rem 4rem;
    min-height: 580px;
    height: 90%;
    &-image { 
        display: block;
        margin: 0 auto 4rem;
        width: 100%;
        transition: .2s;
        box-shadow: 0 0 20px $babish-black;
    }
    &-description {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
}
