/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.recipe-div-button,
.youtube-button,
.go-back {
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    padding: 1.2rem;
    transition: .2s;
    border-radius: 300px;
    cursor: pointer;
}

.recipe-div {
    @include flexy($just: center);
    margin: 1rem auto 3rem;
    &-button {
        @include center;
        background-color: $white;
        border: 2px solid $babish-black;
        &:hover {
            color: $white;
            border: 2px solid $white;
            background-color: $babish-black;
        }
    }
}

.youtube-button {
    margin: 2rem .5rem .5rem;
    color: $white;
    background-color: inherit;
    border: 2px solid $white;
    cursor: pointer;
    &:hover {
        color: $babish-black;
        border: 2px solid $white;
        background-color: $white;
    }
}