/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.recipe-button,
.youtube-button {
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem;
    transition: .2s;
    border-radius: 300px;
    cursor: pointer;
}

.youtube-button {
    margin: 2rem auto 1rem;
    color: $white;
    background-color: inherit;
    border: 2px solid $white;
    border-radius: 300px;
    cursor: pointer;
    &:hover {
        color: $babish-black;
        border: 2px solid $white;
        background-color: $white;
    }
}