/* ============================================= */
/*              Footer                           */
/* ============================================= */

.footer {
    position: relative;
    height: 25vh;
    background-color: $babish-black;
    &-info {
        @include absoluteCenter;
        color: $white;
        p {
            padding-top: 1rem;
        }
        span {
            font-size: .7rem;
            font-weight: 100;
        }
    }
}

.icons {
    @include flexy($just: center);
    &-svg {
        cursor: pointer;
        padding: 10px;
        margin: 0 1rem;
        border: 2px solid $white;
        border-radius: 10px;
        width: 25px;
        fill: $white;
    }
}