/* ============================================= */
/*              Footer                           */
/* ============================================= */

.footer {
    position: relative;
    height: 30vh;
    background-color: $babish-black;
    &-info {
        @include absoluteCenter;
        color: $white;
        p {
            padding-top: 1rem;
        }
        span {
            color: $text;
            font-size: .7rem;
            font-weight: 100;
        }
    }
}

.icons {
    @include flexy($just: center, $align: center);
    &-svg {
        cursor: pointer;
        padding: 10px;
        margin: 0 1rem;
        border: 2px solid $white;
        border-radius: 10px;
        width: 20px;
        transition: .3s;
        fill: $white;
    }
    &-svg:hover {
        border: 2px solid $earth-green;
        fill: $earth-green;
    }
}