/* ============================================= */
/*              Header                           */
/* ============================================= */

.hero {
    background-image: url('../images/hero-background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    &-overlay {
        background-color: rgba(11, 13, 77, 0.4); // change to earthy green
        height: 100vh;
    }
    h1 {
        font-size: 4em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $white;
    }
}

.nav {
    z-index: 100;
    position: sticky;
    top: 0;
    height: .5rem;
    background-color: initial;
    @include flexy($just: space-between, $align: center);
    align-self: flex-start;
    padding: 2rem;
    color: $white;
    transition: .2s;
    &-menu {
        cursor: pointer;
        width: 25px;
        transition: .2s;
        &:hover {
            fill: $text; // change to earthy green
        }
    }
}