/* ============================================= */
/*              Images                           */
/* ============================================= */

.featured-img {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    justify-items: center;
    &-pic {
        img {
            width: 100%;
            max-width: 500px;
            height: 100%;
            max-height: 500px;
            transition: .3s;
        }
        img:hover {
            box-shadow: 0 0 10px $babish-black;
        }
    }
}
