/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media (min-width: $md) {

    .featured {
        padding: 0 1rem;
        &-img {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }

    .desktopnav {
        @include flexy();
        margin-right: 4rem;
        li {
            padding: 0 1rem;
            list-style: none;
        }
    }

    .nav-menu {
        display: none;
    }

    .about {
        margin: 2rem 5rem 4rem;
        &-image {
            margin: 0 1.5rem 1rem 0;
            width: 250px;
        }
        &-description {
            font-size: 1.1rem;
        }
    }

}

@media (min-width: $lg){

    .hero h1 {
        font-size: 6em;
    }

    .featured {
        padding: 0 2rem;
        &-img {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }

    .about {
        margin: 2rem 8rem 4rem;
        &-image {
            width: 275px;
        }
        &-description {
            font-size: 1.2rem;
        }
    }
    
}