/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.desktopnav {
    display: none;
}

// Mobile Navigation
.sidenav {
    @include flexy($dir: column, $align: center);
    padding: 0;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $babish-black;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    li:first-child {
        display: block;
        transition: 0.3s;
    }
    li:not(:first-child) {
        width: 80%;
        text-align: center;
        padding: 2rem 0;
        border-bottom: 1px solid $text;
        text-decoration: none;
        font-size: 1.4rem;
        display: block;
        transition: 0.3s;
    }
    a {
        color: $text;
        &:hover {
            color: $white;
        }
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
  }
  
  #main {
    transition: margin-right .3s;
  }