.pagination {
  margin: 30px 0 60px;
  text-align: center;
  .link-list {
    padding: 0;
  }
  li {
    display: inline;
    padding: 0 3px;
    button {
      font-size: 1em;
      outline: none;
      padding: 0.5em 0.85em;
      background: #fff;
      border: none;
      border-radius: 3px;
      text-decoration: none;
      color: $babish-black;
      box-shadow: 0 1px 8px 0 rgba(22, 42, 90, 0.05);
      transition: 0.2s;
      cursor: pointer;
    }
  }
}

.pagination li button.active,
.pagination li button:hover {
  background-color: $babish-black;
  color: #fff;
}
