/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color: $babish-black;
}

body {
    letter-spacing: .02rem;
    margin: 0;
    padding: 0;
    background-color: $white;
    color: $babish-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    color: inherit;
    transition: .2s;
    &:hover {
        color: $earth-green;
    }
}
